/* HeroSection.css */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.text-container {
  flex: 1;
  max-width: 50%;
}

.image-container {
  flex: 1;
  max-width: 50%;
}

img {
  width: 100%;
  height: auto;
}

.enqurebtn {
  background: #006cb7;
  margin-right: 10px;
}
.enqurebtn:hover {
  background-color: #006cb7;
}
.contactbtn {
  background: #000;
}
.contactbtn:hover {
  background: #000;
}

/* Add responsive styles for smaller screens if needed */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .text-container,
  .image-container {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .separator {
    display: none;
  }
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.about-section-head,
.contact-section {
  background: #006cb7;
  color: #fff;
}
.about-section-head .image-container {
  text-align: right;
}
.about-section-head .image-container img {
  border-radius: 50%;
  width: 75%;
}
.contact-section {
  padding: 45px;
}

.contact-section .btn {
  background-color: transparent !important;
  color: #fff !important;
}

.section {
  padding: 40px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.separator {
  height: 50px;
  border-right: 1px solid #000;
  margin-top: 66px;
}

.list-unstyled span {
  margin-left: 15px;
  font-weight: 200;
}

.footer-image {
  width: 180px;
}

.image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  text-align: center;
}

.text-area-c3 h3 {
  width: 50%;
}

.text-area-c3 p {
  width: 50%;
  line-height: 2.5;
}
