.nav-link {
  color: #000;
}

.site-logo {
  width: 210px;
}

.nav-link {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

#basic-nav-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  width: 368px;
}

#basic-nav-dropdown a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

#basic-nav-dropdown a:hover {
  background-color: #006cb7;
  color: #fff;
}

.nav-link:hover #basic-nav-dropdown {
  display: block;
}
