.nav-link {
  color: #000;
}

.site-logo {
  width: 210px;
}

/* Header.css */

/* Header.css */

.navbar-nav .nav-link.active li {
  border-bottom: 1px solid #000; /* Add your desired border color here */
}
